/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 nov. 2014, 11:24:55
    Author     : admin
*/


      body {
        margin: 10px;
        padding: 10px;
        
      }
      td{
        vertical-align: top; 
        border-color: black; 
        border-style: solid;
        border-width: 1px;
      }
      .myButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 3px 0px #bee2f9;
	box-shadow:inset 0px 1px 3px 0px #bee2f9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
	background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
	background-color:#63b8ee;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:4px 13px;
	text-decoration:none;
	text-shadow:1px 1px 0px #7cacde;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
	background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
	background-color:#468ccf;
}
.myButton:active {
	position:relative;
	top:1px;
}
.Three-Dee{
font-family: Garamond, serif;
line-height: 1em;
color: #0099ff;
background-color: red;
font-weight:bold;
font-size: 29px;
text-shadow:0px 0px 0 rgb(-23,130,232),1px 0px 0 rgb(-36,117,219),2px 0px 0 rgb(-49,104,206),3px 0px 0 rgb(-62,91,193),4px 0px 0 rgb(-75,78,180),5px 0px 0 rgb(-88,65,167), 6px 0px 0 rgb(-101,52,154),7px 0px 6px rgba(0,0,0,0.6),7px 0px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);}

 